
.navbar{
    display:flex;
    align-items:center;
   
}

.container {
    margin-left: 25px;
    margin-right: 25px;
}

.information {
   display:flex;
   margin-bottom:10px;
}
.information span {
    margin-left:10px;
}

* { /**Appliquer le font Releway a tous les elements */
    font-family: 'Raleway', sans-serif;
}

/**navbar items style--- */
.item-1{
   flex:30;
   padding-left:10px;
   margin-left:-50px;
}
.item-1 img {
        height:50px; width:80px; object-fit:contain; 
 }

.nav-deco {
        color: #0094ff;
 }

.item-3 a {
    color: dimgray;
    margin-left: 15px;
}

.item-2 {
    border-top: 1.5px solid white;
    padding-top: 28px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    margin-top: -22px;
    flex: 3;
}


.item-2:hover {
        border-color: #0094ff;
  }

.item-3 {
    flex: 2;
    margin: 10px;
    margin-left: -5px;
}

.item-4 {
    flex: 2;
    border-top: 1.5px solid white;
    padding-top: 28px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    margin-right: -10px;
    margin-top: -22px;
    font-weight: bolder;
}
.item-4:hover {
        border-color: #0094ff;
           
    }


ul li {
    list-style-type: none;
   
}

 ul li a {
        text-decoration: none;
      
}

 li a:hover{
     color:dimgray;
 }

 .item-1 img:hover{
     width:70px;
     height:40px;
 }
 /**Fin de navbar items style*/
.title-1 {/**Pour trouvez logement...**/
    display:flex;
    flex-flow:row wrap; 
}

.title-2{
    margin-top:-10px;
}
     
/*search side css...*/
.div-search {
    display: flex;
    flex-direction: row;
   
    
}
a.icon {
   background-color:#F2F2F2;
   padding:10px;
   border-bottom-left-radius:10px; 
   border-top-left-radius:10px;
   color:black;
}
a.search {
    background-color:#0094ff;
    padding:10px; 
    border-bottom-right-radius:10px;
    border-top-right-radius:10px;
    text-decoration: none;
    color:white;
}
input {
    padding: 10px;
    width: 150px;
    border-color: #F2F2F2;
}
/* End of search css*/

/* Filter side css */
.filter {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    padding-top:10px;
   
}
#person {
        padding-left: 15px;
        padding-right: 15px;  
}
#money {
    padding-bottom: 10px;
    padding-top: 10px;
}

.filter a {
    color: blue;
    text-decoration: none;
}

.filter a:nth-of-type(2){
    flex-grow:1;
    padding-right:10px;
    color:black;
}

.filter a:nth-of-type(1) {
        flex-grow: 1;
        border-radius: 50%;
        padding: 10px;
        background-color: lightblue;
 }

.filter div {
        border-style: solid;
        border-color: #F2F2F2;
        border-radius:30px;
        margin: 10px;
 }

.filter a:hover{
    color:gray;
}

.fontstyle {
    font-weight:bold;
}
/*/ of filter side*/

/* --Marseillee logment side*/
.marseille-logement {
    display: flex;
    flex-flow:row wrap; 
    justify-content:space-between;
}
.logement-title {
    
    color: #0094ff;
}
.logement-title {
    border-radius: 50%;
    border-style: solid;
    border-width: 1.5px;
    font-size:12px;
    border-color:#F2F2F2;
    height: 10px;
    width: auto;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
}
#left {
    display: flex;
    background-color: #F2F2F2;
    flex-flow: wrap;
    border-radius: 20px;
    flex-basis: 65%; 
    margin-top:5px;
    padding-top:20px;
    min-height:600px;
    justify-content:center;
    
}
#left .item-1 {
        margin-left: 20px;
        flex-basis: 100%;
        margin-bottom: -20px;  
        margin-top:5px;
        margin-bottom:5px;
       
}

 #left img {
        width: 240px;
        height: 130px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
 }


.afficher-plus {
    margin-left: 30px;
    flex-basis: 100%;
}

.firstline {
    margin-top:-10px;
    background-color:red;
}
/**rating....*/
.rating {
    margin-left: 5px;
    margin-bottom:-10px;
}

.rating .fontstyle {
        margin-top:3px;
    }

.rating p:not(fontstyle)  {
        margin-top:-10px;
 }
.rating div {
        margin-top:-10px;
    }

.rating  i:not(.checked) { 
        color: #F2F2F2;
 }

.rating-2 i:not(.checked) {
    color: #F2F2F2;
}

.rating-2  div{
    margin-right:5px;    
}
/***end rating*/


/***aside side css----*/
aside {
    display:flex;
    background-color: #F2F2F2;
    flex-flow: wrap;
    border-radius: 25px;
    flex-basis: 33%;
    padding-bottom:20px;
  
}

 aside img {
        width: 150px;
        height: 150px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        margin-bottom:-5px;
        padding-right:10px;
        padding-left:2px;
        object-fit: cover
    }

.aside div {
    margin-right: 25px;
    margin-left: 20px;
}

.aside figure {
    margin-right: 25px;
    margin-left: 25px;
}
.aside figcaption div{
   
    margin-left:-1px;
}
.aside-child {
    display: flex;
    align-items: center;
    flex-basis: 400px;
    margin: 5px;
 
    border-radius: 15px;
} 

#aside-title {
    display: flex;
    align-items: center;
    flex-basis: 95%;
   margin-bottom:-20px;
}

#aside-title i {
       font-size:30px;
    }
.title-margin{
    margin-left:10px;
    flex-grow:1;
}

/***/

/* --/ Marseile logment*/
/*Marseile activites side*/
#activite {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content:space-around;
  
}

.margin-none{
    margin:0;
}

#activite img {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 280px;
        object-fit:cover;
 }
.activite-child {
    display: flex;
    flex-direction: column;
    margin-bottom:-26px;
    justify-content:space-around;
}

.title-3 {
   margin-left: 8px;
    flex-basis: 100%;
    align-items: center;
}
/***/
.column2-1 {
    margin-top:-11px;
    margin-bottom:10px;
}
.column2-1 img {
       height: 140px;
       object-fit: none;
       object-position: 10% 40%;
    }

.column2-1 h4 {
        margin-left: 10px;
    }

/***/
.column2-2 img {
        height: 100px;
        object-fit: none; 
        object-fit: cover;
        object-position: 40% 40%;
 }
.column2-2 h4 {
        margin-left: 10px;
  }
.marin-left{
    margin-left:10px;
    margin-bottom:3px;
    margin-top:5px;
}

/***/
.column4-1 {
    margin-top:-10px;
}

.column4-1 img {
       height: 130px;
      
 }

.column4-1 h4 {
        margin-left: 10px;
}

.column4-2{
   
}
.column4-2 img {
    height: 105px;
    object-fit: cover;
    object-position: 40% 40%;
}

.column4-2 h4 {
    margin-left:10px
}


.margin-last {
   margin-right:-42px
}
/****/

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    border-radius: 15px;
    padding: 2px;
    margin: 10px;
    background-color:white;    
}


.imgg {
    flex-basis: 280px;
    height: 330px;
    object-fit: none;
    object-position:49% 20% ;
}

.card-2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    border-radius: 15px;
    padding-bottom: 5px;
    
   
}

.checked {
    color: #0094ff;
}

/*FOOTER*/
footer {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    background-color: #F2F2F2;
    margin-top: 70px;
}
#item-1 {
        color:black;
        flex-grow:2;
        margin-left:20px;
        
    }
#item-2 {
    flex-grow: 2;
    margin-left: 20px;
    color: black;
}

#item-3 {
    margin-left: 20px;
    flex-grow: 2;
    color: black;
}

.txt-deco p a {
   text-decoration:none;
   color:black;
      
}


/* / of navcontainer css*/
@media all and (min-width:400px) {
    hr{
        display:none;
    }

  
}

/*laptop  version*/
@media only screen and (min-width:1131px) and (max-width:1320px) {
    #left {
        flex-basis: 100%;
        justify-content: center;
    }

     #left img {
            width: 314px;
            height: 150px;
            object-fit: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
     }

    .rating {
        margin-bottom: 5px;
    }

    /**aside*/
    aside {
        flex-basis: 100%;
        justify-content: center;
        margin-top: 30px;
    }
    .aside-child {
        display: flex;
        flex-direction:column;
        align-items: center;
        flex-basis: 290px;      
        
    }

  
    aside img {
        display: flex;
        width: 289px;
        height: 200px;
        border-top-right-radius:20px;
        border-bottom-left-radius: unset;
        margin-right:-12px;
        margin-left:-4px;
        padding-top:1px;
        object-fit: cover;
    }
    .aside figcaption {
       
        margin-left:-90px;
    }
    aside figcaption p {
        margin-bottom:-10px;
    
    }
    aside figcaption div{
        margin-top:10px;
    }
    .exclu {
            margin-right: -90px;
     }

    #aside-title {
        margin-bottom: 5px;
    }
    #title1 + figure img {
    }

    /***activite */
    .card-2 {
        margin: 0;
    }


    .activite-child {
        flex-flow: column;
    }

    #activite img {
        width: 320px;
        height: 200px;
        object-fit: cover;
    }


    .zero {
        order: 0;
    }

    .one {
        order: 2;
       margin-left:-30px;
       margin-bottom:30px;
    }

    .two {
        order: 1;
        margin-bottom:30px;
        margin-left:70px;
      
    }

    .column2-1 {
     margin-right:50px;

    }

    .three {
        order: 3;
        margin-top:30px;
        margin-bottom:-30px;

    }

    .four {
        order: 4;
        margin-left:-150px;
        margin-top:30px;
        margin-bottom:-30px;
        
    }

    .column4-1 {
       margin-right:60px;
    }
    .column4-2 {
        margin-right: -20px;
    }

    .activite-child {
        flex-direction: row;
        
    }

    #activite {
        margin-left:-20px;
        justify-content: space-around;
    }

}


/**laptop version-2 */
@media only screen and (max-width:1130px) and (min-width:800px) {

    #left {
        flex-basis: 100%;
        justify-content: center;
    }

    #left img {
            width: 314px;
            height: 150px;
            object-fit: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
    }

    .rating {
        margin-bottom: 5px;
    }

    aside {
        flex-basis: 100%;
        justify-content:  center;
        margin-top: 30px;
    }
    .aside > figure{
         margin-left:-10px;
       
    }

    .aside-child {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        flex-basis: 220px;
        margin-left:-20px;
   
    }
    aside img {
        display: flex;
        width: 220px;
        height: 150px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: unset;
        border-bottom-left-radius: unset;
        margin-top: 2px;
        margin-left: -10px;
        margin-right: -18px;
        object-fit: cover;
    }

  
    .inclu {
       margin-left:-25px;
    }
    .exclu{
        margin-left:5px;
    }
    .exclu p{
        margin-bottom:-10px;
    }
    .exclu div{
       
        margin-top:15px;
    }
    
    #aside-title {
        margin-bottom: 5px;
    }
    #title1 + figure img {
    }

    /***activite */


    .card-2 {
        margin: 0;
    }

    .activite-child {
        flex-flow: column;
    }

    #activite img {
        width: 340px;
        height: 200px;
        object-fit: cover;
    }

    .zero {
        order: 0;
    }

    .one {
        order: 2;
        margin-right: 10px;
    }

    .two {
        order: 1;
        margin-bottom: -10px;
    }

    .column2-1 {
        margin-right: 20px;
    }

    .three {
        order: 3;
        margin-left: 10px;
    }

    .four {
        order: 4;
        margin-top: 30px;
        margin-left: -42px;
    }

    .column4-1 {
        margin-right: 20px;
    }

    .activite-child {
        flex-direction: row;
    }

    #activite {
        justify-content: center;
    }

    #activite > figure {
            margin-top: 40px;
    }
}

/****version ipad*/
@media only screen and (max-width:799px) and (min-width:681px) {
  
    #left {
        flex-basis: 100%;
        justify-content: center;
    }

    #left img {
            width: 270px;
            height: 150px;
            object-fit: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
    }

    .rating {
        margin-bottom: 5px;
    }

    /**aside*/
    aside {
        background-color:unset;
        flex-basis: 100%;
        justify-content: space-around;
        margin-top: 30px;
    }

    .aside > figure {
        margin:0;
    }

    .aside-child {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        flex-basis: 180px;
        
    }

    #child-med{
      
        margin-left:20px;
        margin-right:20px;
    }


    aside img {
        display: flex;
        width: 180px;
        height: 140px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: unset;
        border-bottom-left-radius: unset;
        margin-top: 1px;
        margin-left: -18px;
        margin-right: -25px;
        object-fit: cover;
    }
    
   .exclu div {
             margin-top: -15px;
            margin-bottom:2px;
   }

    #aside-title {
        margin-bottom: 5px;
    }
    #title1 + figure img {
    }

    /***activite */


    .card-2 {
        margin: 0;
    }

    .activite-child {
        flex-flow: column;
    }

    #activite img {
        width: 280px;
        height: 200px;
        object-fit: cover;
    }

    .zero {
        order: 0;
    }

    .one {
        order: 2;
        margin-right: 10px;
    }

    .two {
        order: 1;
        margin-bottom: -10px;
    }

    .column2-1 {
        margin-right: 20px;
    }

    .three {
        order: 3;
        margin-left: 10px;
    }

    .four {
        order: 4;
        margin-top: 30px;
        margin-left: -42px;
    }

    .column4-1 {
        margin-right: 20px;
    }

    .activite-child {
        flex-direction: row;
    }

    #activite {
        justify-content: center;
    }

    #activite > figure {
            margin-top: 40px;
    }
}

/***Moblie version*********************************************************************************************************/
@media only screen and (max-width:680px) and (min-width:344px) {
    .item-2:hover {
        border-top: unset;
    }
    .container{
       
    }
    .item-4:hover {
        border-top: unset;
    }
    .marseille-logement {
        
    }

    .rating {
        margin-left: 10px;
        margin-bottom: 2px;
    }

    .filter > div {
        margin-left: -5px;
    }

    .margin-none {
        margin: unset;
    }


    #activite figure {
     
    }

    .margin-moble {
        margin-top: 40px;
    }

    #activite card:not(activite-child) {
        margin-bottom: 40px;
    }

    #activite img {
        width: 275px;
        height: 130px;
        object-fit: none;
        object-position: 49% 40%;
    }

    .margin-last {
        margin-right: 0;
    }

    #left {
        background-color: unset;
        margin-left: -60px;
        justify-content:unset;
        justify-content:space-around;

    }

    #left .item-1{
        margin-left:50px;
    }
    .afficher-plus {
        margin-left: 60px;
    }
    #activite .title-3{

    }
    #left img {
        width: 275px;
    }

    aside {
        border-radius: unset;
        margin-left: -26px;
        margin-right: 8px;
    }

    .aside-child {
        width: 310px;
    }

    .marseille-logement {
        justify-content: center;
        flex-direction: column-reverse;
    }



    footer {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
       
    }

    #item-1 {
        padding-top: 20px;
    }

    .navbar {
        flex-wrap: wrap;
    }

        .navbar li {
            flex-basis: 40%;
        }

    nav .item-1 {
        order: 0;
    }

    nav .item-2 {
        border: none;
        order: 2;
        margin-left: -25px;
    }

    nav .item-3 {
        order: 3;
    }

    nav .item-4 {
        order: 1;
        font-weight: bolder;
        margin-right: -30px;
    }

    hr {
        margin-top: -25px;
        height: 3px;
        background-color: #F2F2F2;
        border: 0;
        margin-right: -16px;
    }

        hr::after {
            content: '';
            display: block;
            border-bottom: 3px solid #0094ff;
            max-width: 50%;
        }
    /**filter*/

    .title-3 {
        margin-left: -10px;

    }

    .filter p {
        flex-basis: 100%;
    }
}

/**small divice 320px*/
@media only screen and (max-width:343px) {
   
    .container {
       margin-left:10px;
        margin-right: unset;
        max-width:300px;
        
    }

    a.search {
        
        padding: 10px;
       
    }
   
    input {
        padding: 10px;
        width: 100px;
        border-color: #F2F2F2;
    }
    .item-2:hover {
        border-top: unset;
    }

    .item-4:hover {
        border-top: unset;
    }

    .marseille-logement {
        margin-left:-10px;
        max-width:280px;
    }

    .rating {
        margin-left: 10px;
        margin-bottom: 2px;
    }

    .filter > div {
        margin-left: -5px;
    }

    .margin-none {
        margin: unset;
    }


    #activite {
       
        margin:unset;

    }

    .margin-moble {
        margin-top: 40px;
    }

    #activite card:not(activite-child) {
        margin-bottom: 40px;
    }

    #activite img {
        width: 270px;
        height: 130px;
        object-fit: none;
        object-position: 49% 40%;
    }
    #activite .title-3{
        margin-left:20px;
    }
    .margin-last {
        margin-right: 0;
    }

    #left {
        background-color: unset;
        margin-left:10px;
    }

        #left img {
            width: 260px;
        }

    aside {
        border-radius: unset;
        background-color: #F2F2F2;
        margin-left: 10px;
        flex-basis: 275px;
    }
        aside img {
            width: 140px;
            height: 180px;
        }
            .aside-child {
             width: 260px;
                  
    }
    .aside div {
        margin-right: unset;
        margin-left: unset;
    }

    .aside figure {
        margin-right: unset;
        margin-left: unset;
        margin:3px;
    }


    .marseille-logement {
        justify-content: center;
        flex-direction: column-reverse;
        min-width:300px;
        
       
    }



    footer {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
       
       
    }

    #item-1 {
        padding-top: 20px;
    }

    .navbar {
        flex-wrap: wrap;
       
        
    }

    .navbar li {
            flex-basis: 45%;
        }

    nav .item-1 {
        order: 0;
       
    }

    nav .item-2 {
        border: none;
        order: 2;
       margin-left:-45px;
       margin-right:-40px;
       
    }

    nav .item-3 {
        order: 3;
        padding-bottom:unset;
        margin-left:40px;
    }

    nav .item-4 {
        order: 1;
        font-weight: bolder;
        margin-right:-10px;
        margin-left:20px;
        border:unset;
        padding-right:unset;
        padding-top:unset;
        margin-top:10px;
        padding-right:unset;
    }

    hr {
        margin-top: -25px;
        height: 3px;
        background-color: #F2F2F2;
        border: 0;
       
     
       
    }

        hr::after {
            content: '';
            display: block;
            border-bottom: 3px solid #0094ff;
            max-width: 50%;
        }
    /**filter*/

    .title-3 {
        margin-left: -10px;
    }

    .filter p {
        flex-basis: 100%;
    }
}
/** End**/